<!DOCTYPE html>
<head>

    {{sharedHead}}

    <title>{{title}} - {{artist}}</title>

    <meta property="og:type" content="music.song" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />
    <meta name="theme-color" content="#1DB954">

    <meta property="og:site_name" content="FixSpotify"/>
    <meta http-equiv="refresh" content="0;url=https://open.spotify.com/track/{{id}}"/>
</head>
</html>